* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 800px;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.url-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.url-block {
    margin: 0 auto 30px auto;
}

.url-block label {
    font-size: 34px;
    margin-bottom: 5px;
    font-weight: bold;
}

.url-block input {
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 30px;
    border: 2px solid lightgray;
    outline: none;
}

.url-block input:focus {
    border: 2px solid lightgray;
}

.url-block input:active {
    border: 2px solid lightgray;
}

.iframe-wrapper {
    width: 100%;
    height: 100%;
}

#confirm {
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 30px;
    background-color: rgb(58, 191, 248);
    border: 2px solid rgb(58, 191, 248);
}

#confirm:hover {
    color: white;
    background-color: rgb(0, 118, 164);
    border: 2px solid rgb(0, 118, 164);
}

@media (max-width: 796px) {
    .url-block {
        max-width: 550px;
    }

    #confirm {
        font-size: 20px;
    }

    .url-block input {
        font-size: 20px;
    }

    .url-block label {
        font-size: 30px;
    }
    .url-block {
        margin: 0 auto 15px auto;
    }
}